<div>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Crea una nueva cita </ion-card-title>
    </ion-card-header>
    <form>
      <ion-item>
        <ion-input name="texto" label="Texto" [(ngModel)]="textoStr"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="autor" label="Autor" placeholder="Mahatma Gandhi" [(ngModel)]="autorStr" ></ion-input>
      </ion-item>
      <ion-button type="submit" fill="clear">Agregar +</ion-button>
    </form>
    </ion-card>
</div>

